@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
   font-family: Montserrat, sans-serif; 
}

body {
    /* background-color: lightblue; */
    background: linear-gradient(180deg, #2b5876 0%, #4e4376 100%);
}

#Head {
    text-align: center;
    color: white;
}